body {
    font-family: 'Lato', sans-serif;
}

.card {
    margin-bottom: 3rem;
}

.card img {
    width: 100%;
    height: auto;
}

.card-text {
    height: 150px;
    overflow: hidden;
}

.card-title {
    font-weight: 900;
}